<style type="text/css">
  .template-404 {
  }

  @media screen and (min-width: 750px) {
    .template-404 {

    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <h1 class="h1">
    <span class="h1__en font-silka">404 PAGE NOT FOUND</span>
    <span class="h1__ja">該当ページ無し</span>
  </h1>
  <p>
    大変申し訳ありませんが、該当ページがございません。<br>
    <a href="/">トップページ</a>へご案内いたします。<br>
  </p>
  <p class="font-silka">
    We are sorry, but there is no corresponding page.<br>
    Please go to the <a href="/">top page</a>.
  </p>
  <a href="/" class="btn-secondary mt-30 md:mt-45">
    <span class="btn-secondary__en">TOP  /  SHOP INFO</span>
    <span class="btn-secondary__ja">トップ / 店舗情報</span>
    <span class="btn-secondary__icon"><svg class="sprite-icon icon-arrow" role="img"><use xlink:href="#arrow"></use></svg></span>
  </a>
</div>
