/*doc
---
title: sec-top-primary-service
name: sec-top-primary-service
category: top
---

*/
.sec-top-primary-service {
  position: relative;
}
@media screen and (max-width: 967px) {
  .sec-top-primary-service {
    margin: 36px 22px 70px;
  }
}
.sec-top-primary-service__free-shipping {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
  line-height: 1;
  background-color: #fff;
  color: #606060;
  border-radius: 5px;
  width: 86px;
  text-align: center;
  padding: 10px 0;
  font-weight: 300;
  box-sizing: border-box;
  z-index: 1;
}
@media screen and (min-width: 968px) {
  .sec-top-primary-service__free-shipping {
    border: 1px solid #c8cdd1;
    top: 17px;
    right: calc(9.5% + 17px + 8.5px);
    font-size: 21px;
    line-height: 1;
    width: 148px;
    border-radius: 3px;
    border-width: 2px;
    padding: 13px 0;
    z-index: 1;
  }
}
@media screen and (max-width: 967px) {
  .sec-top-primary-service__img img {
    width: 100%;
    height: 485px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}
@media screen and (max-width: 967px) {
  .sec-top-primary-service__text-btn-wrapper {
    /* position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%; */
    padding-left: 7px;
    padding-right: 7px;
  }
}
@media screen and (min-width: 968px) {
  .sec-top-primary-service__text-btn {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 78px;
    gap: 5px;
  }
}
.sec-top-primary-service__text h2 {
  margin: 30px 0 25px;
  letter-spacing: 0.18em;
  font-weight: 300;
}
.sec-top-primary-service__text p {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 2.24;
}
@media screen and (min-width: 968px) {
  .sec-top-primary-service__text h2 {
    font-size: 25px;
    line-height: 1;
    margin: 0;
    text-align: left;
  }
  .sec-top-primary-service__text h2 .separator {
    font-size: 15px;
    line-height: 1;
    margin: 0 5px;
  }
  .sec-top-primary-service__text p {
    margin-top: 23px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.16em;
    color: #424242;
  }
}
@media screen and (max-width: 967px) {
  .sec-top-primary-service__btn {
    /* margin-left: -17px;
    margin-right: -17px; */
  }
}
@media screen and (min-width: 968px) {
  .sec-top-primary-service__btn {
    -webkit-flex: 31.7939609236% 0 0;
            flex: 31.7939609236% 0 0;
  }
}
@media screen and (min-width: 968px) {
  .sec-top-primary-service .slick-slide {
    padding-left: 8.5px;
    padding-right: 8.5px;
    max-width: 1144px;
  }
}
